{% extends 'shoppingmall_main/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    Edit Comment - Blog
{% endblock %}

{% block main_area %}
<div class="container mt-3">
    <h1  style="color:rgb(0, 62, 62)">Edit Comment</h1>
    <hr>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}

            {{form | crispy}}

        <button type="submit" class="btn float-right m-3" style="background-color : snow; border: 2px solid rgb(0,62,62);border-radius:50%">Submit</button>
    </form>
</div>
{% endblock %}