          <!-- Search widget-->

        <script>
            function searchPost(){
                searchValue = document.getElementById('search-input').value.trim();
                if( searchValue.length >1){
                    location.href = "/shoppingmall_main/search/"+searchValue+"/";
                }
                else{
                    alert("검색어("+searchValue+")가 너무 짧습니다.");
                }
            };

            document.getElementById('search-input').addEventListener('keyup',function(event){
                if(event.key === 'Enter'){
                    searchPost();
                }
            });
        </script>
        <!-- Categories widget-->
        <div class="dropdown nav-item mb-3" id='category-card'>
            <a class="btn nav-link dropdown-toggle mt-3" id="navbarDropdownCateLink"href="#" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color : snow; border: 2px solid rgb(0,62,62);border-radius:50%">Categories</a>

                        <ul class="list-unstyled mb-0 dropdown-menu"  aria-labelledby="navbarDropdownCateLink" style="background-color:snow;border : 2px solid gray" >
                            {% for c in categories%}
                            <li><a class="dropdown-item" href="{{c.get_absolute_url}}" style="color : black;background-color:snow" >{{c}} ({{c.shoppingitem_set.count}})</a></li>
                            {% endfor %}
                            <li><a href="/shoppingmall_main/category/no_category/ " class="dropdown-item" style="color : black;background-color:snow" >미분류 ({{no_category_post_count}})</a></li>
                        </ul>


        </div>